body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Satisfy", cursive;
  margin-top: 5%;
  font-size: 80px;
}

h2 {
  color: white;
  font-size: 60px;
}

h4 {
  font-size: 60px;
}

#question {
  background-color: pink;
}

#slogan {
  font-size: 100px;
  color: red;
}

#details {
  margin-top: 10%;
  font-size: 20px;
}

.hand {
  color: rgb(148, 137, 139);
}

.container-4 {
  background-color: pink;
  align-items: center;
}
