body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Barriecito", cursive;
  font-size: 80px;
}

h2 {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 60px;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
}

#details {
  background-color: pink;
}

#slogan {
  font-size: 40px;
  color: #ffc44f;
  font-style: strong;
}

.hand {
  color: rgb(148, 137, 139);
}

.introduction {
  background-color: #ffc44f;
}

.content-section {
  margin: 60px 0;
}

.content-section:first-child {
  margin-top: 0;
}

.forecast {
  padding: 30px;
}
