body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Satisfy", cursive;
  margin-top: 5%;
  font-size: 80px;
}

h2 {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 60px;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
}

#details {
  background-color: pink;
}

#slogan {
  font-size: 40px;
  color: salmon;
  font-style: strong;
}

#details {
  margin-top: 10%;
  font-size: 20px;
}

.hand {
  color: rgb(148, 137, 139);
}

.introduction {
  background-color: salmon;
}

.destination {
  background-color: green;
}
